:root {
  --select-height: 44px;
  --col-primary: #116acc;
  --col-white: #fff;
  --col-error: #ba0000;
  --col-success: #76ca66;
  --col-black: #000;
  --col-black-sec: #182233;
  --col-gray-2: #374151;
  --col-gray-4: #6b7280;
  --col-gray-5: #9ca3af;
  --col-gray-7: #f3f4f6;
  --transition: .3s ease-in-out;
}
